///// LAYOUT /////
html,
body{
  height: 100%;
}
body{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.0;
  color: $black;
}

img{
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5{
  font-weight: 800;
  margin-bottom: 0.5em;
  &:last-child{
    margin-bottom: 0;
  }
}

h1{
  font-size: 1em;
}
h2{
  font-size: 1em;
}
h3{
  font-size: 1em;
}

p{
  font-size: 1em;
}

a{
  @include animall;
  &,
  &:visited{
    color: $black;
  }
  &:hover{
    color: $black;
  }
}

strong,
b{
  font-weight: 700;
}
ul,
ol{
  padding-left: 1.2em;
  list-style-type: disc;
}

ul,
ol{
  li{
    margin-bottom: 1em;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
}

/////////////////////////

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-container{
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}
.row100{
  width: 100%;
}
.hidden{
  display: none;
}

.pink-btn{
  text-align: center;
  background-color: $purple-light;
  @include animall;
  border: 1px solid $purple;
  color: $white;
  &:hover{
    background-color: $purple;
  }
}
////// Tabs
.tab-controls{
  flex-direction: row;
  margin-bottom: $gap;
  .tab-button{
    width: 160px;
    padding: 1em;
    border: 1px solid $gray;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: $gap;
    cursor: pointer;
    @include animall;
    background-color: $white;
    &:hover{
      background-color: $purple-light;
    }
    &:last-child{
      margin-right: 0;
    }
    &.active{
      border: 1px solid $black;
      background-color: $purple;
      color: $white;
    }
  }
}
.tab-page{
  h1{
    font-size: 2em;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
}
/////
.create-article-wrap{
  width: 100%;
  margin-bottom: $gap*2;
  .input-group{
    text-align: left;
    margin-bottom: $gap;
    &:last-of-type{
      margin-bottom: 0;
    }
    label,
    input,
    textarea{
      display: block;
      width: 100%;
    }
    label{
      font-size: 1.25em;
      font-weight: 700;
      margin-bottom: 0.25em;
    }
    input[type="text"]{
      padding: 0.25em;
    }
    textarea{
      min-height: 20em;
    }
    &.image-upload{
      input[type="checkbox"]{
        width: auto;
        margin: $gap 0;
      }
    }
    &.submit{
      button{
        font-size: 1.5em;
        padding: 0.25em 1em;
      }
    }
  }
}


//////// Article list
.article-list-wrap{
  flex-direction: column;
  h2{
    font-size: 1.5em;
  }
  .article-list{
    // border: 1px solid $gray;
  }
  .article-row{
    width: 100%;
    padding: 0.4em;
    align-items: center;
    &:nth-child(odd){
      background-color: lighten($gray, 30%);
    }
    &:nth-child(even){
      background-color: lighten($gray, 20%);
    }
    & > *{
      margin-right: $gap/2;
      &:last-child{
        margin-right: 0;
      }
    }
    .datime{
      width: 140px;
    }
    .title{
      font-weight: 700;
      width: 250px;
    }
    .perex{
      width: calc(100% - 140px - 250px - 90px);
    }
    .delete{
      width: 60px;
      height: 24px;
    }
  }
}
