///// VARIABLES /////

// Colors
$black: #000000;
$white: #ffffff;
$gray: #a2a2a2;

//Sizes
$gap: 20px;

//Responsive sizes
$widthOffset: 20px;
$widthL: 1260px + $widthOffset;
$widthM: 768px + $widthOffset;
$widthS: 480px + $widthOffset;
